[submodule "resource-service"]
	path = resource-service
	url = https://github.com/Slimani-CE/ds-exam-resource-service
[submodule "reservation-service"]
	path = reservation-service
	url = https://github.com/Slimani-CE/ds-exam-reservation-service
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/Slimani-CE/ds-exam-gateway-service
[submodule "angular-frontend"]
	path = angular-frontend
	url = https://github.com/Slimani-CE/ds-exam-angular-frontend
[submodule "react-frontend"]
	path = react-frontend
	url = https://github.com/Slimani-CE/ds-exam-react-frontend
